main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.acordeon{
    background-color: white;
    width: 655px;
    min-height: 347px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 27px 49px -25px rgb(0, 0, 0, 0.3);
    position: relative;
}
.acordeon .ilustracao {
    position: absolute;
    left: -90px;
    width: 278px;
    height: 293px;
}
.acordeon .conteudo{
    padding-left: 225px;
    width: 90%;
    
}
.acordeon .conteudo h1{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 14px;
}
.acordeon .items{
   list-style-type: none;

}
.acordeon .items .item{
    cursor: pointer;
    background-image: url(./imagens/SETA.png);
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    border-bottom: 1px solid rgb(191, 184, 184);
    margin: 10px 0;
 
 }
 .acordeon .items .item:last-child{
    border-bottom: none;

 }
 .acordeon .items .item .pergunta{
    padding-bottom: 15px;
    transition: 0.2s ease;
    font-size: 17px;
    width: 90%;
    font-weight: 500;
 }
 .acordeon .items .item .pergunta:hover{
    color: orange;
 }
 .acordeon .items .item .resposta{
    display: none;
    padding-bottom: 15px;
    font-size: 15px;
 }
 /* ESTILOS IEM ATIVO */

 .acordeon .items .item.ativo h1{
    font-weight: 700;
    font-size: 17px;
 }
 .acordeon .items .item.ativo .resposta{
    display: block;
 }
 .acordeon .items .item.ativo{
    background-image: url(./imagens/seta\ aberta.png);
 }